.jumbotron{
    text-align: center;
    background-image: url("../images/bubbrubb.jpg");
    background-size: 100% 99.9%;
    background-repeat: no-repeat;
    color: white;
}
table, td {
    border: 1px solid black;
    padding: 10px;
    font-weight: bold;
}
button{
   float: right;
}
h1{
    background: darkkhaki;
    display: inline-block;
}
h2{
    background: darkkhaki;
    display: inline-block;
}
body{
    background: paleturquoise;
}