body {
   background-image: url("../images/background.jpg");
   background-size: 100%;
}

.container {
   text-align: center;
}

/* jumbotron for all pages */
#jumbo {
   background-image: url("../images/gift.jpg");
   background-color: white;
   background-size: 40%;
   background-repeat: no-repeat;
   color: black;
   font-family: 'Roboto Condensed', sans-serif;
}

/* create profile form */
form {
   margin-left: 30px;
   margin-right: 30px;
   padding: 20px;
   font-family: 'Roboto Slab', serif;
}

/* results.html name table */
table {
   font-family: 'Roboto Slab', serif;
   margin-left: 30px;
   margin-right: 50px;
   padding: 20px;
}

/* link color */
a {
    color: black;
    font-family: 'Roboto Slab', serif;
}

a:hover {
   text-decoration: none;
   color: white;
}

/* buttons */
#addNewPerson {
   background: rgb(232, 109, 162);
   color: white;
   font-family: 'Roboto Slab', serif;
   margin-left: 30px;
   width: 500px;
   border: none;
   padding: none;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
   cursor: pointer;
   transition: box-shadow 1s;
}

#addNewPerson:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s; 
}


#returnToResults2 { 
  background-color: rgb(232, 109, 162); 
  border: none;
  padding: none;
  margin-left: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: box-shadow 1s;
}

#returnToResults2:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s;
}

#returnToResults { 
  background-color: rgb(232, 109, 162); 
  border: none;
  padding: none;
   margin-left: 15px;
   margin-bottom: 15px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
   cursor: pointer;
   transition: box-shadow 1s;
}

#returnToResults:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s;
}

.gifts {
   background-color: rgb(232, 109, 162);
   color: white; 
   border: none;
   padding: none;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
   cursor: pointer;
   transition: box-shadow 1s;
}

.gifts:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s; 
}

#submit {
  background-color: rgb(232, 109, 162);
  border: none;
  padding: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
   cursor: pointer;
   transition: box-shadow 1s;
}

#submit:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s; 
}

#gift1Offer {
  background-color: rgb(232, 109, 162);
  border: none;
  padding: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
   cursor: pointer;
   transition: box-shadow 1s;
}

#gift1Offer:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s;
}

#gift2Offer {
  background-color: rgb(232, 109, 162);
  border: none;
  padding: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
   cursor: pointer;
   transition: box-shadow 1s;
}

#gift2Offer:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s;
}

#gift3Offer {
  background-color: rgb(232, 109, 162);
  border: none;
  padding: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
   cursor: pointer;
   transition: box-shadow 1s;
}

#gift3Offer:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s;
}

.card-header {
   font-family: 'Roboto Slab', serif;
}

.card {
  padding: 50px;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.card:hover {
  transform: scale(1.5);
}

.card-img-top { 
  width: 100%;
   height: 15vw;
   object-fit: scale-down;

}